@font-face {
    font-family: Mulish;
    src: url(../fonts/static/Mulish-Regular.ttf)
}
@media (max-width: 950px) {
    div#menu_bar_titel{
        margin-left: 0px;
    }
    p.infocard_paragraph{
        display: none;
    }
    section{
        width: 700px;
        display: flex;
        justify-content: space-between;
    }

}
@media (max-width: 750px){
    div#menu_bar{
        background-color: rgb(53,53,53);
    }
    div#menu_bar_titel{
        margin-bottom: 20px;
    }
    div#menu_bar_link_container{
        margin-bottom: 20px;
    }
    div#infocard{
        visibility: hidden;
    }
    section{
       width: 100%;
       display: flex;
       flex-direction: column;
    }
}


.mulish-modifier {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    font-family: Mulish;
    margin: 0px;
}

header{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url('../images/delorean-palm-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#mySection{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    height: 400px;
    font-size: 16px;
    font-weight: normal;
}

footer{
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: rgb(245, 245, 245);
}

#menu_bar{
    display: flex;
    align-items: center;
    color: rgb(247,247,247);
}
#menu_bar_titel{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bolder;
    margin-left: 72px;
    width: 50%;
}
#menu_bar_link_container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    width: 50%;
}
.menu_bar_link {
    display: inline-block;
    color: rgb(247,247,247);
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}
.menu_bar_link:hover {
    text-decoration: underline; 
}
#titel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    height: 200px;
}
#titel{
    height: 100%;
    width: 80%;
}
#new_text{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}
#zeitmaschinenauto_text{
    margin-top: 18px;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(247,247,247);
}

#entdecken_text{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    color: rgb(247,247,247);
    text-decoration: none;
}
#entdecken_text:hover{
    text-decoration: underline;
}
#infocard{
    align-self: flex-end;
    display: flex;
    background-color: rgb(53,53,53);
    width: 64%;
}

.infocard_icon{
    width: 45px;
    height: 45px;
}
.infocard_content{
    display: flex;
    width: 50%;
    padding: 3%;
    font-size: 16px;
    font-weight: normal;
    
}
#infocard_content_left{
    border-right: 1px solid rgb(255,255,255,0.08);
}
.infocard_text{
    margin-left: 24px;
}
.infocard_heading{
    color: rgb(247,247,247);
    margin-bottom: 24px;
}
.infocard_paragraph{
    color: rgb(187,187,187);
    line-height: 24px;
}

#mySection{
    width:80%; 
    height: auto;
}
.section_element{
    padding-left: 50px;
}
.section_icon{
    width: 32px;
    height: 32px;

}
.section_heading{
    font-size: 18px;
    color: rgb(51,51,51);
    margin-top: 16px;
    font-weight: bolder;
}
.section_text{
    margin-top: 8px;
    color: rgb(153, 153, 153);
    line-height: 30px;
}

#footer_container{
    padding: 0px;
    display: flex;
    justify-content: space-around;

}
.footer_heading{
    padding: 0;
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
    color: rgb(68,68,68);
    margin-bottom: 30px;
}
.footer_link{
    display: block;
    font-size: 16px;
    color: rgb(100,109,117);
    text-decoration: none;
}
.footer_link:hover{
    text-decoration: underline;
}

